USE [master]
GO
/****** Object:  Database [Gerenciamento_Escritorio]    Script Date: 08/18/2013 14:53:18 ******/
CREATE DATABASE [Gerenciamento_Escritorio] ON  PRIMARY 
( NAME = N'GERENCIAMENTO_ESCRITORIO', FILENAME = N'C:\TCC-Gerenciamento\Gerenciamento_Escritorio.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GERENCIAMENTO_ESCRITORIO_log', FILENAME = N'C:\TCC-Gerenciamento\Gerenciamento_Escritorio_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gerenciamento_Escritorio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gerenciamento_Escritorio]
GO
/****** Object:  Table [dbo].[GRUPO]    Script Date: 08/18/2013 14:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GRUPO](
	[COD_GRUPO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO_GRUPO] [varchar](20) NOT NULL,
	[TIPO] [varchar](14) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_GRUPO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 08/18/2013 14:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CLI_CPF] [varchar](15) NOT NULL,
	[CLI_NOME] [varchar](50) NOT NULL,
	[CLI_ENDERECO] [varchar](50) NOT NULL,
	[CLI_CEP] [char](8) NOT NULL,
	[CLI_RG] [char](15) NOT NULL,
	[CLI_COMPLEMENTO] [varchar](50) NULL,
	[CLI_ESTADO] [varchar](2) NOT NULL,
	[CLI_BAIRRO] [varchar](50) NOT NULL,
	[CLI_CIDADE] [varchar](50) NOT NULL,
	[CLI_TELEFONE] [varchar](11) NOT NULL,
	[CLI_TELEFONE2] [varchar](11) NULL,
	[CLI_EMAIL] [varchar](50) NOT NULL,
	[CLI_EMAIL2] [varchar](50) NULL,
	[CLI_PATH] [varchar](150) NULL,
	[CLI_NUMERO] [varchar](10) NULL,
	[CLI_DATA_NASC] [varchar](10) NOT NULL,
 CONSTRAINT [PK__CLIENTE__CB3788A97B5B524B] PRIMARY KEY CLUSTERED 
(
	[CLI_CPF] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ITEM]    Script Date: 08/18/2013 14:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ITEM](
	[COD_ITEM] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO_ITEM] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ITEM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TermosDeUso]    Script Date: 08/18/2013 14:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[TermosDeUso](
	[aceitar_termos] [char](3) NULL,
	[termos] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 08/18/2013 14:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[COD_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[COD_GRUPO] [int] NOT NULL,
	[NOME] [varchar](40) NOT NULL,
	[LOGIN] [varchar](15) NOT NULL,
	[SENHA] [varchar](10) NOT NULL,
	[VISUALIZAR] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROCESSO]    Script Date: 08/18/2013 14:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROCESSO](
	[NUMERO_PROCESSO] [varchar](30) NOT NULL,
	[NUMERO_VARA_PROCESSO] [int] NOT NULL,
	[TIPO_PROCESSO] [varchar](30) NOT NULL,
	[TIPO_CLIENTE] [varchar](30) NOT NULL,
	[NOME_EXECUTADO] [varchar](50) NOT NULL,
	[TIPO_EXECUTADO] [varchar](30) NOT NULL,
	[NOME_ADVOGADO] [varchar](50) NOT NULL,
	[EMAIL_ADVOGADO] [varchar](50) NULL,
	[TELEFONE_ADVOGADO] [char](11) NOT NULL,
	[EMAIL_EXECUTADO] [varchar](50) NULL,
	[TELEFONE_EXECUTADO] [varchar](11) NOT NULL,
	[DATA_DISTRIBUICAO] [varchar](10) NOT NULL,
	[DATA_CITACAO] [varchar](10) NOT NULL,
	[VALOR_CAUSA] [real] NOT NULL,
	[CLI_CPF] [varchar](15) NOT NULL,
	[OBS_PROCESSO] [text] NULL,
	[NUMERO_ORDEM] [varchar](10) NOT NULL,
 CONSTRAINT [PK__PROCESSO__44375B60160F4887] PRIMARY KEY CLUSTERED 
(
	[NUMERO_PROCESSO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GRUPO_ITEM]    Script Date: 08/18/2013 14:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO_ITEM](
	[COD_GRUPO] [int] NOT NULL,
	[COD_ITEM] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANDAMENTO_PROCESSO]    Script Date: 08/18/2013 14:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ANDAMENTO_PROCESSO](
	[COD_ANDAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[DATA_ANDAMENTO] [varchar](10) NULL,
	[HISTORICO] [text] NULL,
	[AND_PATH] [varchar](50) NULL,
	[V_1] [varchar](20) NULL,
	[NOME_CLI] [varchar](50) NULL,
	[N_PROC] [char](20) NULL,
	[N_VARA] [int] NULL,
	[PARTE_CONT] [varchar](50) NULL,
	[NUMERO_PROCESSO] [varchar](30) NULL,
	[N_2] [varchar](50) NULL,
	[DATA_COMP_PRAZO] [varchar](10) NULL,
	[HORARIO] [varchar](6) NULL,
	[TIPO_COMP] [varchar](50) NULL,
 CONSTRAINT [PK__ANDAMENT__606F3891282DF8C2] PRIMARY KEY CLUSTERED 
(
	[COD_ANDAMENTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK__USUARIO__COD_GRU__55F4C372]    Script Date: 08/18/2013 14:53:21 ******/
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_GRUPO])
REFERENCES [dbo].[GRUPO] ([COD_GRUPO])
GO
/****** Object:  ForeignKey [FK__PROCESSO__CLI_CP__17F790F9]    Script Date: 08/18/2013 14:53:21 ******/
ALTER TABLE [dbo].[PROCESSO]  WITH CHECK ADD  CONSTRAINT [FK__PROCESSO__CLI_CP__17F790F9] FOREIGN KEY([CLI_CPF])
REFERENCES [dbo].[CLIENTE] ([CLI_CPF])
GO
ALTER TABLE [dbo].[PROCESSO] CHECK CONSTRAINT [FK__PROCESSO__CLI_CP__17F790F9]
GO
/****** Object:  ForeignKey [FK__GRUPO_ITE__COD_G__1CF15040]    Script Date: 08/18/2013 14:53:21 ******/
ALTER TABLE [dbo].[GRUPO_ITEM]  WITH CHECK ADD FOREIGN KEY([COD_GRUPO])
REFERENCES [dbo].[GRUPO] ([COD_GRUPO])
GO
/****** Object:  ForeignKey [FK__GRUPO_ITE__COD_I__1DE57479]    Script Date: 08/18/2013 14:53:21 ******/
ALTER TABLE [dbo].[GRUPO_ITEM]  WITH CHECK ADD FOREIGN KEY([COD_ITEM])
REFERENCES [dbo].[ITEM] ([COD_ITEM])
GO
/****** Object:  ForeignKey [FK__ANDAMENTO__NUMER__2A164134]    Script Date: 08/18/2013 14:53:21 ******/
ALTER TABLE [dbo].[ANDAMENTO_PROCESSO]  WITH CHECK ADD  CONSTRAINT [FK__ANDAMENTO__NUMER__2A164134] FOREIGN KEY([NUMERO_PROCESSO])
REFERENCES [dbo].[PROCESSO] ([NUMERO_PROCESSO])
GO
ALTER TABLE [dbo].[ANDAMENTO_PROCESSO] CHECK CONSTRAINT [FK__ANDAMENTO__NUMER__2A164134]
GO
